img {
  width: 300px;
  margin-top: 20px;
}
body {
  font-family: sans-serif;
  margin: 30px;
  line-height: 1.5;
  background-color: beige;
}
.hidden {
  display: none;
}
.card {
  background-color: azure;
  padding: 10px;
  margin-right: 30%;
}